[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
rstcheck = "*"

[packages]
