[tool.poetry]
name = "github_commit_status"
version = "1.1.0"
description = "A simple command line for updating a commit's status on GitHub"
authors = [
    "Glen Jarvis <<glen@glenjarvis.com>>"
]

license = "MIT"
readme = 'README.rst'  # TODO: Are Sphinx files supported? Markdown files are supported

repository = "https://github.com/glenjarvis/github_commit_status"
homepage = "https://github.com/glenjarvis/github_commit_status"
keywords = ['git', 'github', 'commit', 'github_commit_status']

[tool.poetry.dependencies]
python = "^3.5 || ^3.6 || ^3.7 || ^3.8"
wheel = "^0.34.2"
toml = "^0.10"
click = "^7.1.2"
pygithub = "^1.51"

[tool.poetry.dev-dependencies]
poetry = "^1.0.5"
pytest = "^5.2"
flake8 = "^3.7.9"
tox = "^3.14.6"
coverage = "^5.1"
rstcheck = "^3.3.1"
watchdog = "^0.10.2"
sphinx = "^3.0.3"

[tool.poetry.scripts]
github_commit_status = "github_commit_status.cli:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

