certifi==2025.4.26 ; python_version >= "3.7" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and platform_system == "Windows"
cryptography==43.0.3 ; python_version >= "3.7" and python_version < "4.0"
deprecated==1.2.18 ; python_version >= "3.7" and python_version < "4.0"
idna==3.10 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==1.7.0 ; python_version >= "3.7" and python_version < "3.8"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0"
pygithub==1.59.1 ; python_version >= "3.7" and python_version < "4.0"
pyjwt[crypto]==2.8.0 ; python_version >= "3.7" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version == "3.7"
urllib3==2.5.0 ; python_version >= "3.7" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
